<div class="d-flex align-items-center justify-content-center min-vh-100 bg-light">
  <div class="verify-card text-center">
    <h3 class="brand-title mb-3">Verify Your Email</h3>
    <p class="text-secondary mb-4">
      We've sent a verification link to your email.  
      Please check your inbox and click the link to verify your account.
    </p>

    <button class="btn btn-custom btn-success w-75 mb-3" >
      Resend Verification Email
    </button>

    <p class="mt-2">
      <a routerLink="/auth/login" class="text-decoration-none b-to-login btn btn-outline-success">Back to Login</a>
    </p>
  </div>
</div>
